@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
    color: var(--text);
}


header {
    display: flex;
    justify-content: space-between;
    margin: 10px 5%;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav ul li {
    list-style: none;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: #000 ;
    border-radius: 25px;
    margin: 5px;
}

.burger {
    display:none; 
    position: fixed;
    right: 35px;
}


/* digunakan untuk responsive website */
@media screen and (max-width: 600px) {
    /* jika besar screen segitu ubah fitur2 menyesuaikan layar */
    header nav {
        display: none; /* Sembunyikan navbar */
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: rgb(219, 219, 219);
        margin: 15px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        /* z-index: 98; */
    }

    header nav ul {
       display: block;
        
    }

    header nav.active {
         display: flex ; /*Tampilkan navbar saat burger diklik */
    }

    header .burger {
        display: block; /* Tampilkan burger menu */
        cursor: pointer;
    }
    
    /* .burger :hover {
       
    } */

}